comtypes
keyboard
lxml
packaging
pandas
plumbum
psutil
py7zr
pyautogui
pywinauto
selenium
texttable
uiautomation
urllib3
winapps
wmi
xlrd
xmltodict
cryptography
firmware-variables
hp_uefi_test_util>=0.2.0.5028
hp_wmi>=0.3.0.5026
pycryptodome
pyopenssl
pyyaml
robotframework
robotframework-selenium2library
robotframework-seleniumlibrary
robotframework-screencaplibrary
py-cpuinfo
vcosmos
hp_logging
bios_auditor
requests
bs4