comtypes
keyboard
lxml
packaging
pandas
plumbum
psutil
py7zr
pyautogui
pywinauto
selenium
texttable
uiautomation
urllib3
winapps
wmi
xlrd
xmltodict
cryptography
firmware-variables
pycryptodome
pyopenssl
pyyaml
robotframework
robotframework-selenium2library
robotframework-seleniumlibrary
robotframework-screencaplibrary
vcosmos
bios_auditor
requests
bs4