comtypes
keyboard
lxml
packaging
pandas
plumbum
psutil
py7zr
pyautogui
selenium
texttable
uiautomation
urllib3
winapps
xlrd
xmltodict
cryptography
pycryptodome
pyopenssl
pyyaml
robotframework
robotframework-selenium2library
robotframework-seleniumlibrary
robotframework-screencaplibrary
requests
bs4